<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFyp"
        tools:targetApi="31">
        <activity
            android:name=".Activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ComplaintDescriptonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditPoliceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddPoliceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewComplainStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin_login_activity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewComplainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateComplainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SafetyActsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SafetyPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AwarenessDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MyLocationActivity"
            android:exported="false" />

        <service
            android:name=".Services.CallService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".Services.PowerButtonService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".Services.SOSService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".Services.ShakeDetectionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".Activities.CallActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FakeCallActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePinActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CancelSOSActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AppPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SOSSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PinSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SoSActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EmergencyContactsActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activities.SPlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>